.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 5fr 4fr;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-title {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}
.cake-image {
  width: 100%;
  height: 500px;
}

.IngredientsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.left-ingredients{
  justify-self: center;
}

.right-ingredients {
  justify-self: center;
}

.checked {
  text-decoration: line-through;
}